@model MobileShop.Models.tbl_User

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_UserPage.cshtml";
    //Layout = "~/Views/Account/Index.cshtml";
}

<h2>ViewProfile</h2>

<div>
    <h4>tbl_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
